<div class="maindiv">
<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#0c0c0c">
  <div>
  <a class="navbar-brand text-white" href="#"><h1>Project Manager</h1></a>
</div>
<div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/AddProject" >Add Project</a>
          </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/Add" >Add Task <span class="sr-only" >(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/AddUser" >Add User</a>
        </li> 
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/View" >View Task</a>
      </li>      
    </ul>
  </div>
</div>
</nav>


<router-outlet></router-outlet>


</div>