<div class="container"> 
  <div class="row mt-3">
    <div class="col">
      <div class="page-header">
    <h3>
      {{pageTitle}}
    </h3>
  </div> 
    
  <div class="{{alertType}}" *ngIf="showAlert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    {{pageMessage}}
  </div>
  
  <form class="form-group" [formGroup]="projectForm" novalidate>
    <input type="hidden" id="" formControlName="projectId" value="">
    <div class="form-group row">
      <label for="projectName" class="col-sm-2 col-form-label" ><span i18n="@@Project"> Project</span> <span class="mandatory">*</span></label>
      <div class="col-sm-9">
        <input type="text" class="form-control" formControlName="projectName" [ngClass]="{ 'is-invalid': submitted && f.projectName.errors }"
          required id="projectName" maxlength="50" name="projectName" placeholder="Project Name">
  
        <div *ngIf="submitted && f.projectName.errors" class="invalid-feedback">
          <div *ngIf="f.projectName.errors.required" i18n="@@ProjectNameRequired">Project Name is required</div>
        </div>
      </div>
    </div>
  
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-3">
        <div class="form-check">
          <span class="mandatory">*</span>
          <input class="form-check-input" type="checkbox" formControlName="setStartAndEndDate" (change)="changeDate($event)" id="chkSetStartAndEndDate"
            name="chkSetStartAndEndDate">
          <label class="form-check-label" for="gridCheck1" i18n="@@CheckStartAndEndState"> Check Start and End date</label>
        </div>
      </div>
  
      <div class="col-sm-3">
        <input type="date" class="form-control" formControlName="startDate" id="startDate" name="startDate" />
      </div>
  
      <div class="col-sm-3">
        <input type="date" class="form-control" formControlName="endDate" id="endDate" name="endDate" />
      </div>
    </div>
  
    <div class="form-group row">
      <label for="priority" class="col-sm-2 col-form-label" i18n="@@Priority">Priority</label>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="inline">0</span>
          <input type="range" class="form-control" id="priority" formControlName="priority" name="priority" min="0" max="100" value="0"
            (change)="onPriorityChange($event)" step="1">&nbsp; &nbsp; <span class="inline">{{priority}}</span>
        </div>
      </div>
    </div>
  
    <div class="form-group row">
      <label for="manager" class="col-sm-2 col-form-label"> <span i18n="@@Manager">Manager </span><span class="mandatory">*</span></label>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="form-control" readonly formControlName="manager" required name="manager" [ngClass]="{ 'is-invalid': submitted && f.manager.errors }"
            id="manager">
  
          <span class="input-group-btn">
            <!-- <button class="btn btn-default" type="button" (click)="openModal('custom-modal-1')" data-toggle="modal" data-target="custom-modal-1" i18n="@@Search" >Search</button> -->
            <button class="btn btn-primary btn-block"  data-toggle="modal" data-target="#userlisting">Search</button>
            
          </span>
  
          <input type="hidden" id="userId" name="userId" formControlName="userId">
  
          <div *ngIf="submitted && f.manager.errors" class="invalid-feedback">
            <div *ngIf="f.manager.errors.required" i18n="@@ManagerRequired">Manager name is required</div>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="row">      
      <div class="col-sm-2">
        <button class="btn btn-success btn-block" type="submit" (click)="onSubmit()">{{addButtonTitle}}</button>
      </div>
  
      <div class="col-sm-2">
        <button class="btn btn-default btn-block" type="button" (click)="resetForm()" i18n="@@Reset">Reset</button>
      </div>
    </div>
  </form>

    <br/>
    <div class="page-header">
      <h3 i18n="@@Projects">
       View Projects
      </h3>
    </div>
    <app-viewprojects-component></app-viewprojects-component>
    </div>  
  </div>  
</div>  

<div>
  <app-userlisting listingmodalId="userlisting"  [userlistings]="managers"   (selectedvalue) = "selectedmanagers($event)">
    <div head style="font-weight: bold;color:black; display: block !important">Select Manager</div>
  </app-userlisting>
</div>